
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/ztree/css/metroStyle/metroStyle.css" rel="stylesheet" />


<script src="~/lib/ztree/js/jquery-1.4.4.min.js"></script>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<script src="~/lib/ztree/js/jquery.ztree.core.js"></script>
<script src="~/lib/ztree/js/jquery.ztree.excheck.js"></script>
<script src="~/lib/ztree/js/jquery.ztree.exedit.js"></script>
<div>
    <div class="mgtIndex">
        <div class="mgtIndex_left">
            <ul id="zktree" class="ztree"></ul>
        </div>
        <div class="mgtIndex_right">
            <div class="col-xs-12">
                <section class="node-header">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="page-header">
                                <i class="fa fa-globe"></i> Node Information
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="ul-node">
                                <li>Path:<label id="lb-path"></label></li>
                                <li>Version:<label id="lb-version"></label></li>
                                <li>CreateTime:<label id="lb-createtime"></label></li>
                                <li>ModifyTime:<label id="lb-modifytime"></label></li>
                                <li>ACL:<label id="lb-acl"></label></li>
                                <li>
                                    Value:
                                    <ul id="myTab" class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#text" data-toggle="tab">text</a>
                                        </li>
                                        <li><a href="#json" data-toggle="tab">Json</a></li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade in active" id="text">
                                            <textarea id="lb-value"></textarea>
                                        </div>
                                        <div class="tab-pane fade" id="json">
                                            <textarea id="lb-jsonvalue"></textarea>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <h2 class="page-header"></h2>
                            <div class="node-option">
                                <button type="button" id="btnEdit" class="btn btn-success">Edit</button>
                                <button type="button" id="btnDelete" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="addModel">
    <div class="modal-dialog" style=" min-width:460px;  margin-top: 60px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Add Node</h4>
            </div>
            <div class="modal-body">
                <div style="margin-bottom:9px;">
                    <label>Name:</label><br /><input type="text" style="width:100%;" id="edit-name" value="" />
                </div>
                <div>
                    <label>Value:</label><br /><textarea style="width:100%; min-height:165px;" id="edit-value"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAddModel" data-loading-text="Create...">Save</button>
                </div>
            </div>
        </div>
        <input type="hidden" id="edit-path" value="" />
    </div>
</div>

<script src="~/js/Home/Index.js"></script>
